.float-right {
  float: right !important;
}


.activity-item .description-item {
    font-size: larger;
    font-weight: bold;
}

.activity-item .date-item {
    font-size: small;
    color: var(--surface-500);
}

.no-round-border-right {
    border-bottom-right-radius:  0;
    border-top-right-radius:  0;
}
.no-round-border-left {
    border-bottom-left-radius:  0;
    border-top-left-radius:  0;
}

.header {
    height: 40px;
    background-color: var(--primary-color);
}
.title {
    color: var(--surface-0);
}
.footer {
    position: absolute;
    bottom: 0;
}

.loading {
    background-color: var(--surface-50);

}

.done {
    color: var(--green-400);
}

.login
{
    color: white !important;
}

@media screen and (max-width: 768px) {
    .md\:hide {
        display: none !important;
    }
}
