.main {
  width: 60%;
}

.float-right {
  float: right !important;
}


.activity-item .description-item {
    font-size: larger;
    font-weight: bold;
}

.activity-item .date-item {
    font-size: small;
    color: gray;
}
